<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="tws.repository.BookMapper">
<!--    <select id="selectAll" resultType="tws.entity.Employee">-->
<!--        select *-->
<!--        from ` employee `;-->
<!--    </select>-->

<!--    <insert id="insert" parameterType="tws.entity.Employee">-->
<!--        insert into ` employee `(` id `, ` name `, ` age `)-->
<!--        values (#{employee.id},-->
<!--                #{employee.name},-->
<!--                #{employee.age});-->
<!--    </insert>-->

    <insert id="insertBook" parameterType="tws.entity.Book">
        insert into `book`(`bookNo`, `recipient`, `telNum`,`status`, `reservationTime`, `bookWeight`)
        values (#{book.bookNo},
                #{book.recipient},
                #{book.telNum},
                #{book.status},
                #{book.reservationTime},
                #{book.bookWeight});
    </insert>
</mapper>